#  SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Forward Password Requests to unl0kr
DefaultDependencies=no
After=plymouth-start.service systemd-vconsole-setup.service
Conflicts=emergency.service
Before=emergency.service
Conflicts=shutdown.target initrd-switch-root.target
Before=shutdown.target initrd-switch-root.target

[Service]
ExecStartPre=-systemctl stop systemd-ask-password-console.path systemd-ask-password-console.service systemd-ask-password-plymouth.path systemd-ask-password-plymouth.service systemd-ask-password-wall.path systemd-ask-password-wall.service
ExecStartPre=plymouth hide-splash
ExecStart=/usr/bin/systemd-ask-password-wrapper /usr/bin/unl0kr
SystemCallArchitectures=native
