#  SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
Description=Forward Password Requests to unl0kr
Conflicts=shutdown.target emergency.service
DefaultDependencies=no
After=plymouth-start.service systemd-vconsole-setup.service
Before=shutdown.target

[Service]
ExecStart=unl0kr-ask-password
SystemCallArchitectures=native

